
<div class="text-center" style="background: #eee;">
    <ul class="nav nav-pills">
        <li><a href="/searchList?category=korean">한식</a></li>
        <li><a href="/searchList?category=china">중식</a></li>
        <li><a href="/searchList?category=western">양식</a></li>
        <li><a href="/searchList?category=chicken">치킨</a></li>
        <li><a href="/searchList?category=night">야식</a></li>
        <li><a href="/searchList?category=cafe">카페</a></li>
        <li><a href="/searchList?category=drink">술집</a></li>
        <li><a href="/searchList?category=random">랜덤</a></li>
    </ul>
</div>