
<div style="background: #000000;">
	<font color="white" style="text-align: center;" size="15pt;">
		<p>
            <a href="/searchList?category=korean">한식</a>
            <a href="/searchList?category=china">중식</a>
            <a href="/searchList?category=western">양식</a>
            <a href="/searchList?category=chicken">치킨</a>
            <a href="/searchList?category=night">야식</a>
            <a href="/searchList?category=cafe">카페</a>
            <a href="/searchList?category=drink">술집</a>
            <a href="/searchList?category=random">랜덤</a>
		</p>
	</font>
</div>