<!DOCTYPE html>
<html>
<head>
    <!-- Theme Made By www.w3schools.com - No Copyright -->
    <title>Bootstrap Theme Company Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../public/stylesheets/main.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<div id="header">
    <% include header.ejs%>
</div>

<div id="categoryBar">
    <% include categoryFood.ejs %>
</div>

<div>
    <div id="detail">

        <div id="storeInfo" style="border: solid gray 1px; height: 50px;">
            <div id="title" style="float: left; margin-right: 10px;">
                <h1>title</h1>
            </div>
            <div id="detailStore">
                <span>address1 address2 address3-addr4</span>
                <span>좋아하는 사람 </span> &#x1f497; <span>명</span>
                <span style="float: right;">
                <label>배달가능</label>
                <label>휴대폰결제</label>
                <label>직접수령가능</label>
            </span>
            </div>


        </div>

        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">전체메뉴</a>
                    </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse">
                    <div class="panel-body">
                        <%
                            for(var i = 0; i < store.length; i++) {
                                var menu = store[i];
                        %>
                        <%= menu.name%>     <%= menu.price%>원<br>


                        <%}
                        %>

                    </div>
                </div>
            </div>
        </div>


    </div>



</div>

</body>

</html>
