
<div id="nav" style="text-align: right; margin-top: 10px; margin-right: 10px;">
	<a href="#">로그인</a>
	<a href="#">회원가입</a>
	<a href="#">고객센터</a>
</div>
<!-- 로고 위치 -->
<center><h1><a href="main">AfterNoodle</a></h1></center>

<br>
<form>
	<div>
		<div id="selectType" style="float: left; padding-right: 10px;">
			<select id="sel1">
				<option>집</option>
				<option>밥</option>
			</select>
		</div>
		<div id="inputSearch" style="float:left;">
			<input type="text" class="form-control col-xs-2" name="searchKey" placeholder="2자이상 입력해주세요." style="width: 300px;">
		</div>
	</div>

</form>