<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
	<title></title>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<style>
    .card_image {
        width: 220px;
        height: 315px;
        text-align: center;
        float: left;
        background: #ffd5c4;
        margin-bottom: 20px;
    }
    .card_info {
        margin-bottom: 20px;
        width: 680px;
        height:315px;
        float: left;
        background: #00B7FF;
    }
    #list {
        align-content: center;
        margin-left: 20%;
        margin-right: 20%;
        width: 940px;
        height: 315px;
        display:  block;
    }
</style>
<body>

<div>

    <div id="header">
        <% include header.ejs %>
    </div>

    <div id="categoryBar">
        <% include categoryFood.ejs %>
    </div>

    <div id="list">
        <% for (var i = 0; i < store.length; i++) {
            var title = store[i].title;
            var id = store[i].id; %>
            <a href="/detail?storeId=<%= id %>">
                <div class="card_image"><%= i%></div>
                <div class="card_info"><%= title%></div>
            </a>
        <% } %>

    </div>



</div>

</body>

</html>
